<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509800727243-doe7f1ps9368ckbsidqs6i6enaruq9fe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509800727243-doe7f1ps9368ckbsidqs6i6enaruq9fe</string>
	<key>API_KEY</key>
	<string>AIzaSyBQNOFfknSvknWe9h9HA86TWOpbGyPaU_o</string>
	<key>GCM_SENDER_ID</key>
	<string>509800727243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adebayosotannde.SkyLink</string>
	<key>PROJECT_ID</key>
	<string>vpn-se</string>
	<key>STORAGE_BUCKET</key>
	<string>vpn-se.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509800727243:ios:7e61b5213d62f5c7ed514e</string>
	<key>DATABASE_URL</key>
	<string>https://vpn-se-default-rtdb.firebaseio.com</string>
</dict>
</plist>